* {
    font-family: 'Averia Libre';
}

header {
    height: 50px;
    background-color: #C1E7E3;
    display: flex;
    justify-content: space-between;
    color: #419ED7;
}

.header-child {
    display: flex;
    align-items: center;

}

.header-child>img {
    margin-left: 10px;
}

.header-child>h1 {
    margin-left: 5px;
}

.header-button>input {
    margin-right: 12px;
    padding: 7px 10px 7px 10px;
    color: white;
    background-color: #419ED7;
    box-shadow: 2px 2px 5px 2px rgb(151, 162, 173);
    cursor: pointer;
    border-radius: 5px;
}

.header-button>input:hover,
.criar-conta>input:hover {
    outline: none;
    background-color: #2b8dca;
}

.header-button {
    display: flex;
    align-items: center;
}

main {
    height: calc(100vh - 50px);
    background-color: #ADD5D0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    background-color: white;
    width: 95%;
    height: 35px;
    min-height: 35px;
    margin-top: 27px;
    display: flex;
    align-items:center;
}

#label {
    margin-left: 10px;
}

#pesquisar {
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#pesquisar:focus {
    outline: none
}

.modal {
    max-width: 840px;
}


ol {
    margin-top: 20px;
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
}

li {
    background-color: white;
    width: 240px;
    height: auto;
    border-radius: 7px;
    margin: 20px;
    cursor: pointer;
}

li:hover {
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.dose {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.dose-interna {
    background-color: #419ED7;
    padding: 2px 5px 2px 5px;
    color: white;
}

.first {
    padding: 5px;
}

.footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#button-footer {
    width: 150px;
    height: 27px;
    border: none;
    background-color: #49B976;
    font-size: 15px;
    color: white;
    box-shadow: 2px 2px 5px 2px lightslategray;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 30px;
}

#button-footer:hover {
    outline: none;
    background-color: #05c451;
}

.interna-proxima{
    width: 100%;
    height: 26px;
    display:flex;
    justify-content: flex-end;
    font-size: 13px;
    color: red;
    align-items: flex-end;
    flex-wrap: wrap;
}

.interna-proxima > span{
    margin-right: 5px;
}

body{
    background-color: #ADD5D0;
}